<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.j_zone.genproprioritas">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".helper.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_genpro"
        android:label="Genpro Priotitas"
        android:roundIcon="@mipmap/ic_genpro_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Menu_main"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Edit_Profile"
            android:label="Edit Profile"
            android:parentActivityName=".Profile"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.j_zone.genproprioritas.Profile" />
        </activity>
        <activity
            android:name=".Add_Usaha"
            android:label="Tambah Usaha"
            android:parentActivityName=".Business"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.j_zone.genproprioritas.Business" />
        </activity>
        <activity
            android:name=".Search"
            android:label="Search"
            android:parentActivityName=".Menu_main"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.j_zone.genproprioritas.Menu_main" />
        </activity>
        <activity
            android:name=".Splash_sc"
            android:label="Genpro Prioritas"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GMB_genpro"
            android:label="GMB Genpro"
            android:parentActivityName=".Menu_main"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.j_zone.genproprioritas.Menu_main" />
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".Menu_main"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.j_zone.genproprioritas.Menu_main" />
        </activity>
        <activity
            android:name=".Business"
            android:label="@string/title_activity_business"
            android:parentActivityName=".Menu_main"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.j_zone.genproprioritas.Menu_main" />
        </activity>
        <activity
            android:name=".Detailbisnis"
            android:label="Detail Bisnis"
            android:parentActivityName=".Menu_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditBisnis"
            android:label="Edit Bisnis"
            android:parentActivityName=".Menu_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VisiMisi"
            android:label="Visi dan Misi"
            android:parentActivityName=".Menu_main" />
        <activity
            android:name=".Sejarah"
            android:label="Sejarah Genpro"
            android:parentActivityName=".Menu_main" />
        <activity
            android:name=".Kegiatan"
            android:label="Kegiatan Genpro"
            android:parentActivityName=".Menu_main" />
        <activity
            android:name=".AskBOD"
            android:label="Pengurus Genpro"
            android:parentActivityName=".Menu_main" />
        <activity android:name=".Membership"
            android:label="Membership"
            android:parentActivityName=".Menu_main"/>
    </application>

</manifest>